<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Suppress noisy Jetty startup messages -->
    <logger name="org.eclipse.jetty.ee10.runner" level="ERROR" />
    <logger name="org.eclipse.jetty.ee10.annotations" level="WARN" />
    <logger name="org.eclipse.jetty.ee10.webapp.StandardDescriptorProcessor" level="WARN" />
    <logger name="org.apache.tomcat.util.descriptor" level="ERROR" />

    <root level="info">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>